{% load staticfiles %}<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Color-to-Grayscale Converter</h1>
            <form action="/add/" class="dropzone" id="my-awesome-dropzone">
                {% csrf_token %}
            </form>
            {% for image in object_list %}
                <img src="{{ image.color_image }}" />
                <hr/>
            {% endfor %}
        </div>

        <script src="{% static 'js/all.js' %}"></script>

    </body>
</html>